{% extends "base.html" %}
{% block page_content %}
{% load static %}
<html>
  <head>
    <title>Home</title>
<!--     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script> -->
<!-- jquery -->
<!--     <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{% static 'css/intro.css' %}">
    <script type='text/javascript' src="{% static 'js/agency.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/agency.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/contact_me.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  </head>
  <body style="overflow-y:scroll;">
  
        <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#">Anurag Shah</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#introduction">Introduction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#programming">Programming</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#connect">Connect</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To My Site!</div>
                <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#introduction">Tell Me More</a>
            </div>
        </div>
    </header>
    
    <!-- Introduction -->
    <section class="bg-light page-section" id="introduction">
        <div class="container">
            <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Introduction</h2>
            <h3 class="section-subheading text-muted">Hi I am Anurag Shah. I am pursuing CSE with minor in Specialization in AI from IIT Jodhpur and am currently in my final year. Please explore the site to know more about me.</h3>
            </div>
        </div>
    </section>
      
                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
    <!-- About -->
    <section class="page-section" id="about">
        <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">About ME</h2>
            <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
            <ul class="timeline">
                <li>
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="{% static 'img/1.jpg' %}" alt="">
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                    <h4>20 June, 1998</h4>
                    <h4 class="subheading">Hello World!</h4>
                    </div>
                    <div class="timeline-body">
                    <p class="text-muted">This day I was born at Vadodara, Gujarat.</p>
                    </div>
                </div>
                </li>
                <li class="timeline-inverted">
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="{% static 'img/2.jpg' %}" alt="">
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                    <h4>June 2016</h4>
                    <h4 class="subheading">Got Admission in IIT Jodhpur</h4>
                    </div>
                    <div class="timeline-body">
                    <p class="text-muted">After 2 years of rigorous training at IIT ASHRAM I cracked JEE Advanced paper and secured a rank of 2473 AIR. I got admission in IIT Jodhpur CSE branch</p>
                    </div>
                </div>
                </li>
                <li>
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="{% static 'img/3.jpg' %}" alt="">
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                    <h4>December, 2018</h4>
                    <h4 class="subheading">ICPC 2019</h4>
                    </div>
                    <div class="timeline-body">
                    <p class="text-muted">Represented IIT Jodhpur in ICPC Kharagpur Regionals. Secured a rank of 30 out of 84 teams.</p>
                    </div>
                </div>
                </li>
                <li class="timeline-inverted">
                <div class="timeline-image">
                    <img class="rounded-circle img-fluid" src="{% static 'img/4.jpg' %}" alt="">
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                    <h4>July 2019</h4>
                    <h4 class="subheading">Completed my summer internship at Amazon, Bangalore</h4>
                    </div>
                    <div class="timeline-body">
                    <p class="text-muted">I learnt new technologies, met a lot of people and developed as a professional at Amazon. It was an amazing experience.</p>
                    </div>
                </div>
                </li>
                <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>Here
                    <br>is my
                    <br>Story!</h4>
                </div>
                </li>
            </ul>
            </div>
        </div>
        </div>
        </section>
    <!--  Programming    -->
    <section class="bg-light page-section" id="programming">
        <div class="container">
            <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Proficiency in <br>Languages I share with computers</h2>
                <div class="progress" style="height:20px;">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%; font-size:20px;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">C++</div>
                </div>
                <div class="progress" style="height:20px;">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 75%; font-size:20px;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Python</div>
                </div>
                <div class="progress" style="height:20px;">
                <div class="progress-bar bg-info" role="progressbar" style="width: 50%; font-size:20px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Java</div>
                </div>
                <div class="progress" style="height:20px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%; font-size:20px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Javascript</div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light page-section" id="Codeforces Graph">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">My Codeforces Profile</h2>
            <h3 class="section-subheading text-muted">I love competitive programming and I am a regular coder on codeforces. My userId is <b><a href = "https://codeforces.com/profile/Ghost0fSparta" target="_blank">Ghost0fSparta</b></a></h3>
            <img src="{% static 'img/cf_ratings.png' %}">
        </div>
    </section>
    <!--  Connect    -->
    <section class="bg-light page-section" id="connect">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Lets connect!</h2>
                <h3 class="section-subheading text-muted">I'll love to hear from you!</h3>
            </div>
            <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'img/team/1.jpeg' %}" alt="">
            <h4>Anurag Shah</h4>
            <p class="text-muted">Software Developer Engineer</p>
            <ul class="list-inline social-buttons ">
              <li class="list-inline-item">
                <a href="#" target="_blank">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/anurag.shah.5076798" target="_blank">
                  <i class="fa fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/anurag-shah-aa4526141/" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
    </section>
  <!--
    <div id = "Head">
    <p style="color: white; position: relative; top: 50%; transform: translateY(-50%);">WELCOME</p>
    </div>
    <p stle="color:red;">Hello, I am Anurag Shah, final year undergrad pursuing CSE and Specialization in AI as my degree at IIT Jodhpur.</p>
    --->
  </body>
</html>

{% endblock %}
